.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}
.modalContent{
    padding: 1rem;
    background: white;
    border-radius: 1rem;
    min-width: 35rem;
}
.modal.active{
    display: flex;
    justify-content: center;
    align-items: center;
}